body, html {
    padding: 8px;
    background-color: #000000;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-family: Arial, sans-serif;
    overflow:auto;
}
a {
    color: white;
}

.page-main-title-container{
    text-align: center;
    margin-top: 250px;
}
#page-main-title {
    text-align: center;
    font-size: 2.5rem;
}
#page-main-desc {
    text-align: center;
    font-size: 1.5rem;
    line-height: 130%;
}
.cover-embed{
    margin: 30px;
}

.cover-desc {
    margin-left: 8vw;
    margin-right: 8vw;
    justify-content: center;
    font-size: 1.5rem;
}


/* Navbar Styles */
header {
    width: 95vw;
    position: fixed;
    top: 0;
    z-index: 1000;
}
#app-logo-nav{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    transition: color 0.3s ease;
}

.nav-links ul li a:hover {
    color: #E7E0EC;
}

/* Hamburger Menu */
.hamburger-menu {
    user-select: none;
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    padding: 15px;
    z-index: 1001;
}

.hamburger-menu span {
    width: 25px;
    height: 3px;
    background: #fff;
    transition: all 0.3s ease;
}
.nav-social-link{
    display: none;
}


.glow-on-hover {
    width: 220px;
    height: 50px;
    margin-top: 12px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #E7E0EC, #444444, #555555, #666666, #ffffff, #666666, #555555, #444444);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 1; /* Keep the opacity at 1 to make the glow always visible */
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
    .nav-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(51, 51, 51, 0.9); /* Dark background with transparency */
        backdrop-filter: blur(10px); /* Blur effect */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .hamburger-menu {
        display: flex;
    }

    /* Drawer Open */
    .nav-links.active {
        display: flex;
        transform: translateX(0);
    }
    
    .nav-links ul {
        list-style: none;
        display: flex;
        flex-direction: column; /* Makes the list items vertical */
        gap: 20px;
        padding: 0;
        margin: 0;
        align-items: center;
    }
    .nav-social-link{
        display: flex;
    }
}