body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #E7E0EC;
    font-family: "Inter", sans-serif;
    font-family: Arial, sans-serif;
}

.video-container {
    position: absolute;
    width: 100%;
    height: 100%;
        justify-content: center;  /* Center horizontally */
    align-items: center;  /* Center vertically */
    overflow: hidden;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%); /* Smooth transition effect */
    transition: background-color 4s ease-in-out; /* Smooth transition effect for background color */
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-content: center;
    
}

.text-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2; /* Ensure text is on top */
    opacity: 0; /* Start hidden */
    transition: opacity 1s ease-in-out; /* Smooth transition for text opacity */
}

#reclaim-text {
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    color: white;
}

#rolling-text {
    display: inline-block;
    font-weight: bold;
    color: #E7E0EC;
    overflow: hidden;
    vertical-align: bottom; /* Align the rolling text properly with the rest */
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0; /* Start hidden */
}
.explosion-button {
    position: relative;
    padding: 15px 30px;
    font-size: 1.2rem;
    color: #E7E0EC;
    background: transparent;
    border: 2px solid #E7E0EC;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
}

.explosion-button span {
    position: relative;
    z-index: 2;
}

.particles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background: #E7E0EC;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
}